@model invoiceProject.Models.UserGiftCard

@{
    ViewData["Title"] = "גיפט-קארד חדש";
    Layout = "_UserLayout";
}
@section css {
    <link href="@Url.Content("~/css/NewInvoice.css")" rel="stylesheet" />
}


<div id="mainDiv" class="row">
    <div class="col-1"></div>
    <form id="contact-form" name="contact-form" class="MyForm" asp-action="NewGiftCard">
        <div class="row">
            <h2 class="h1-responsive font-weight-bold text-center my-4" style="padding-right: 13px;">
                הזן
                פרטי גיפט-קארד
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label asp-for="giftCard.GiftCardName" class="">סוג הגיפט-קארד</label>
                            <select asp-for="giftCard.GiftCardName" name="GiftCardName" class="form-control">
                                <option value="DreamCard">DreamCard</option>
                                <option value="BuyMe">BuyMe</option>
                            </select>
                            <span asp-validation-for="giftCard.GiftCardName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label asp-for="giftCard.Price" class="">סכום</label>
                            <select asp-for="giftCard.Price" name="Price" class="form-control">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                            <span asp-validation-for="giftCard.Price" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input class="btn btn-primary btn-block sendButton " type="submit" value="שליחה" />
        </div>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
