@model invoiceProject.Models.Credit
@{ ViewData["Title"] = "מחיקת זיכוי";
    Layout = "_UserLayout"; }
@section css {
    <link href="@Url.Content("~/css/DeleteButton.css")" rel="stylesheet" />
}
<div style="margin:auto;" class="col-6">
    <form style="text-align:center; margin-bottom: 15%;" asp-controller="Credits" asp-action="DeleteCredit">
        <h1 style="font-size:xx-large" class="hrOther">מחיקת זיכוי</h1>
        <p style="font-size:x-large">האם את/ה בטוח/ה שברצונך למחוק זיכוי זה?</p>
        <div class="clearfix" style="margin-left:9%">
            <a style="text-decoration-line:none; width:44%; color:black" asp-action="ViewCredits" class="cancelbtn other">ביטול</a>
            <input type="hidden" asp-for="CreditID" />
            <input style="width:44%" type="submit" value="מחק" class="deletebtn other" />
        </div>
    </form>
</div>















