@model invoiceProject.Models.Credit
@{
    ViewData["Title"] = "עריכת זיכוי";
    Layout = "_UserLayout";
}
@section css {
    <link href="@Url.Content("~/css/NewInvoice.css")" rel="stylesheet" />
}


<div id="mainDiv" class="row">
    <div class="col-1"></div>
    <form id="contact-form" name="contact-form" class="MyForm" asp-action="EditCredit">
        <input type="hidden" asp-for="UserID" />
        <input type="hidden" asp-for="CreditID" />
        <div class="row">
            <h2 class="h1-responsive font-weight-bold text-center my-4 col-4" style="padding-right: 13px; text-align: right !important;">
                ערוך זיכוי
            </h2>
            <span class="col-4"></span>
            <a class="col-4" asp-action="ViewCredits" style="text-decoration-line:none; font-weight:bold; padding: 3% 15% 0 0;">
                <span style="font-weight:bold; padding-top:8%;">חזרה לצפייה בזיכויים</span>
            </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label asp-for="StoreName" class="">שם החנות</label>
                    <input asp-for="StoreName" type="text" id="subject" class="form-control">
                    <span asp-validation-for="StoreName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label asp-for="ExpireDate" class="">תוקף חשבונית</label>
                    <input asp-for="ExpireDate" type="datetime-local" id="subject" class="form-control">
                    <span asp-validation-for="ExpireDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label asp-for="Amount" class="">סכום</label>
                    <input asp-for="Amount" type="number" id="subject" class="form-control">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label asp-for="CategoryID" class="">קטגוריה</label>
                    <select asp-for="CategoryID" class="form-control">
                        <option></option>
                        <option value="1">ביגוד והנעלה</option>
                        <option value="2">ביטוח</option>
                        <option value="3">חשמל</option>
                        <option value="4">דלק</option>
                        <option value="5">מזון</option>
                        <option value="6">שונות</option>
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input class="btn btn-primary btn-block sendButton " type="submit" value="שמור" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}












