@model invoiceProject.Models.UserGiftCard

@{
    ViewData["Title"] = "גיפט-קארד חדש";
    Layout = "_AdminLayout";
}

@section css {
    <link href="@Url.Content("~/css/NewInvoice.css")" rel="stylesheet" />
}

<div id="mainDiv" class="row">
    <div class="col-1"></div>
    <form id="contact-form" name="contact-form" class="MyForm" asp-action="AdminNewGiftCard">
        <div class="row">
            <h2 class="h1-responsive font-weight-bold text-center my-4" style="padding-right: 13px;">
                הזן
                פרטי גיפט-קארד
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label asp-for="UserID" class="">מספר המשתמש</label>
                    <input asp-for="UserID" type="number" id="subject" class="form-control">
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label asp-for="giftCard.GiftCardName" class="">שם החנות</label>
                            <select asp-for="giftCard.GiftCardName" class="form-control">
                                @*<option></option>*@
                                <option value="ZARA">ZARA</option>
                                <option value="H&M">H&M</option>
                                <option value="NIKE">NIKE</option>
                                <option value="ADIDAS">ADIDAS</option>
                                <option value="TOMMY">TOMMY</option>
                            </select>
                            <span asp-validation-for="giftCard.GiftCardName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label asp-for="giftCard.ExpireDate" class="">תוקף גיפט-קארד</label>
                    <input asp-for="giftCard.ExpireDate" type="datetime-local" id="subject" class="form-control">
                    <span asp-validation-for="giftCard.ExpireDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label asp-for="price" class="">סכום</label>
                    <input asp-for="price" type="number" id="subject" class="form-control">
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input style="background-color:black !important" class="btn btn-primary btn-block sendButton " type="submit" value="הוסף" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}